@import url('https://cdn.jsdelivr.net/gh/hung1001/font-awesome-pro-v6@44659d9/css/all.min.css');
@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500i,500,900,900i');

:root {
  font-family: "Rubik", sans-serif;
  line-height: 1.5;
  font-size: 16px;

  /*color-scheme: light dark;*/
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

html {
  overflow-y: scroll;
}

body {
  background-attachment: fixed;
  background-image: url('http://127.0.0.1:5173/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 80%;
}

body, #app, html {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #343434;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: #0000009e;
  padding: 10px;
}

h2{
  font-weight: 500;
  font-size: 28px;
  margin: 0;
  padding: 4px 0;
}

/*body{*/
/*  background-image: url('background.jpg');*/
/*  background-repeat: round;*/
/*  background-attachment: fixed;*/
/*}*/


.card {
  padding: 2em;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
