$colors: (
  surfaceHigh: #121212,
  surfaceMediumHigh: #1c1c1c,
  surface: #212121,
  surfaceMediumLow: #252525,
  surfaceLow: #2b2b2b,
  surfaceLowest: #3b3b3b,
  surfaceAlpha:  #0000009e,
  primary: #3aab15,
  primaryDark: #2e8c11,
  primaryDarknest: #1e6c11,
  secondary: #3b3b3b,
  secondaryLight: #4b4b4b,
  secondaryDark: #2b2b2b,
)
